{
    "parser": "babel-eslint",
    "plugins": [
        "import",
        "promise",
    ],
    "extends": [
        "standard",
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true,
        "jest": true,
    },
    "rules": {
        "promise/avoid-new": 0,

        "semi": [1, "always"],
        "no-tabs": 0,
        "comma-dangle": 0,
        "indent": [2, "tab", {
            "SwitchCase": 1
        }],
        "padded-blocks": 0,
        "space-before-function-paren": [1, {
            "anonymous": "always",
            "named": "never"
        }],
        "max-len": [1, {
            "code": 80,
            "tabWidth": 2,
            "ignoreComments": true,
            "ignoreStrings": true,
            "ignoreUrls": true,
            "ignoreRegExpLiterals": true,
        }],
        "brace-style": 0,
        "operator-linebreak": [1, "after"],
        "camelcase": 0,
        "no-multiple-empty-lines": [1, {
            "max": 2,
        }],
        "no-unused-vars": 1,
        "spaced-comment": 0,
    },
    "globals": {
        "__DEV__": true,
        "App": true,
        "Page": true,
        "wx": true,
        "getApp": true,
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.babel.js"
            }
        }
    }
}
